In [1]:
import pandas as pd

## Exercise
1- Look at sensor data that tracks atmospheric $CO_2$ from continuous air samples at Mauna Loa Observatory in Hawaii. This data includes $CO_2$ samples from March 1958 to December 1980.
- Determine the presence of main trend and seasonality in the data
- Determine if the data are stationary
- Split the data in train (90%) and test (10%)
- Find a set of SARIMAX coordinate models by looking at the ACF and PACF plots.
- Perform a grid search on the model candidates.
- Select the best models, based on performance metrics, model complexity, and normality of the residuals.
- Compare the best model you found with the one from autoarima.

In [3]:
co2 = pd.read_csv('https://zenodo.org/records/10951538/files/arima_co2.csv?download=1',
                  header = 0,
                  names = ['idx', 'co2'],
                  skipfooter = 2,
                  engine='python')

# convert the column idx into a datetime object and set it as the index
co2['idx'] = pd.to_datetime(co2['idx'])
co2.set_index('idx', inplace=True)

# Rmove the name "idx" from the index column
co2.index.name = None
co2

               co2
1965-01-01  319.32
1965-02-01  320.36
1965-03-01  320.82
1965-04-01  322.06
1965-05-01  322.17
...            ...
1980-08-01  337.19
1980-09-01  335.49
1980-10-01  336.63
1980-11-01  337.74
1980-12-01  338.36

[192 rows x 1 columns]